

<div class="Nodes">
    <div class="nodes-table">
        <table id="requester-table" class="table" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Node </th>
                    <th>Status</th>
                    <th>Average Monthly Cost</th>
                    <th>Stake</th>
                    <th>Balance</th>
                    <th>Health</th>
                </tr>
            </thead>
            @if (Model != null)
            {
                <tbody>
                    @foreach (var item in Model.Requesters)
                    {
                        <tr>
                            <td>
                                @item.Account
                            </td>
                            <td>
                                @item.State
                            </td>
                            <td>
                                @item.MonthlyCost
                            </td>

                            <td>
                                @item.Stake
                            </td>
                            <td>
                                @item.Balance<!-- Health -->
                            </td>
                            <td>
                                <!-- Health -->
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>

    <div class="nodes-table">
        <table id="provider-table" class="table" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Node</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Producing</th>
                    <th>Events</th>
                    <th>Health</th>
                </tr>
            </thead>
            @if (Model != null)
            {
                <tbody>

                    @foreach (var item in Model.Producers)
                    {
                        <tr>
                            <td>
                                @item.Account
                            </td>
                            <td>
                                <!-- Status -->
                            </td>
                            <td>
                                @item.Type
                            </td>
                            <td>
                                @item.Producing
                            </td>
                            <td>
                                <!-- warnings-->
                            </td>
                            <td>
                                @if (item.Health >= 50)
                                {<p class="text-success">@item.Health%</p>}
                            else
                            { <p class="text-danger">@item.Health%</p>}
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        var reqTable = $('#requester-table').DataTable({
            dom: 'Bfrtip',
            buttons: {
                buttons: [
                    {
                        className: "Refresh-btn",
                            action: function (e, dt, node, config) {
                                $("#requester-table").load(location.href + "#requester-table");
                        }
                    },
                ],
                dom: {
                    button: {
                        tag: "button",
                        className: "btn btn-light"
                    }
                }
            }
        });

        var provTable = $('#provider-table').DataTable({
            dom: 'Bfrtip',
            buttons: {
                buttons: [
                    {
                        className: "Refresh-btn",
                        action: function (e, dt, node, config) {
                            $("#requester-table").load(location.href + "#requester-table");
                        }
                    },
                ],
                dom: {
                    button: {
                        tag: "button",
                        className: "btn btn-light"
                    }
                }
            }
        });
        $('.Refresh-btn').html('<i class="fas fa-redo"></i> Refresh');
    });
</script>


<link href="~/css/Nodes.css" rel="stylesheet" type="text/css" />
