

<div class="Nodes">
    

    <div class="nodes-table" id="reqs">
        <p class="table-title">Requesters</p>
        <table id="requester-table" class="table" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Node </th>
                    <th>Status</th>
                    <th>Average Monthly Cost</th>
                    <th>Stake</th>
                    <th>Balance</th>
                    <th>Health</th>
                </tr>
            </thead>
            @if (Model != null)
            {
                <tbody>
                    @foreach (var item in Model.Requesters)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink((string)item.Account, actionName: "Requester",
                                    controllerName: "Nodes",
                                    routeValues: new {id= item.Account },
                                    htmlAttributes: null)
                            </td>
                            <td>
                                @item.State
                            </td>
                            <td>
                                @item.MonthlyCost
                            </td>

                            <td>
                                @item.Stake
                            </td>
                            <td>
                                @item.Balance<!-- Health -->
                            </td>
                            <td>
                                <!-- Health -->
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>

    <div class="nodes-table" id="provs">
        <p class="table-title">Providers</p>
        <table id="provider-table" class="table" style="width:100%">
            <thead class="thead-light">
                <tr>
                    <th>Node</th>
                    <th>Type</th>
                    <th>Producing</th>
                    <th>Events</th>
                    <th>Health</th>
                </tr>
            </thead>
            @if (Model != null)
            {
                <tbody>

                    @foreach (var item in Model.Producers)
                    {
                        <tr>
                            <td>
                                @Html.ActionLink((string)item.Account, actionName: "Producer",
                                    controllerName: "Nodes",
                                    routeValues: new { id = item.Account },
                                    htmlAttributes: null)
                            </td>
                            <td>
                                @item.Type
                            </td>
                            <td>
                                @item.Producing
                            </td>
                            <td>
                                <!-- warnings-->
                            </td>
                            <td>
                                @if (item.Health >= 50)
                                {<p class="text-success">@item.Health%</p>}
                            else
                            { <p class="text-danger">@item.Health%</p>}
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#requester-table').DataTable();
        $('#provider-table').DataTable();
    });
</script>


<link href="~/css/Nodes.css" rel="stylesheet" type="text/css" />
