@using BlockBase.Dapps.CloudManager.WebApp.Models.Nodes
@model ProducerConfigurationViewModel

<div class="d-flex flex-row bd-highlight mb-2">
    <div class="most-outer">
        <div class="outer-outer">
            <div class="outter-Stake">
                <div class="stake-text">Max Ratio to Stake</div>
                <div class="display-stake">
                    <div class="arrows p-2 bd-highlight">
                        <div class="up-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="true">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxRatioToStake" type="hidden" value="@Model.MaxRatioToStake" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-up fa-3x"></i>
                                </button>
                            </form>
                        </div>
                        <div class="down-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="false">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxRatioToStake" type="hidden" value="@Model.MaxRatioToStake" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-down fa-3x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="stake-value">@Model.MaxRatioToStake</div>
                </div>
                <form asp-controller="Nodes" asp-action="ProducerSetConfigurations">
                    <input asp-for="Account" type="hidden" value="@Model.Account" />
                    <input asp-for="MaxRatioToStake" type="number" step=any min=0/>
                    <span asp-validation-for="MaxRatioToStake" class="text-danger"></span>
                    <input type="submit" value="Set" class="btn btn btn-dark" />
                </form>
            </div>
        </div>
    </div>

    <div class="most-outer">
        <div class="outer-outer">
            <div class="outter-Stake">
                <div class="stake-text">Min BBT per MB ratio</div>
                <div class="display-stake">
                    <div class="arrows p-2 bd-highlight">
                        <div class="up-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="true">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MinBBTPerMbRatio" type="hidden" value="@Model.MinBBTPerMbRatio" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-up fa-3x"></i>
                                </button>
                            </form>
                        </div>
                        <div class="down-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration"  asp-route-isIncrement="false">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MinBBTPerMbRatio" type="hidden" value="@Model.MinBBTPerMbRatio" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-down fa-3x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="stake-value"> @Model.MinBBTPerMbRatio</div>
                </div>
                <form asp-controller="Nodes" asp-action="ProducerSetConfigurations">
                    <input asp-for="Account" type="hidden" value="@Model.Account" />
                    <input asp-for="MinBBTPerMbRatio" type="number" step=any min=0 />
                    <span asp-validation-for="MinBBTPerMbRatio" class="text-danger"></span>
                    <input type="submit" value="Set" class="btn btn btn-dark" />
                </form>
            </div>
        </div>
    </div>


</div>

<div class="d-flex flex-row bd-highlight mb-2">
    <div class="most-outer">
        <div class="outer-outer">
            <div class="outter-Stake">
                <div class="stake-text">Max growth per month</div>
                <div class="display-stake">
                    <div class="arrows p-2 bd-highlight">
                        <div class="up-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="true">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxGrowthPerMonth" type="hidden" value="@Model.MaxGrowthPerMonth" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-up fa-3x"></i>
                                </button>
                            </form>
                        </div>
                        <div class="down-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="false">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxGrowthPerMonth" type="hidden" value="@Model.MaxGrowthPerMonth" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-down fa-3x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="stake-value">@Model.MaxGrowthPerMonth</div>
                </div>
                <form asp-controller="Nodes" asp-action="ProducerSetConfigurations">
                    <input asp-for="Account" type="hidden" value="@Model.Account" />
                    <input asp-for="MaxGrowthPerMonth" type="number" step=any min=0 />
                    <span asp-validation-for="MaxGrowthPerMonth" class="text-danger"></span>
                    <input type="submit" value="Set" class="btn btn btn-dark" />
                </form>
            </div>
        </div>
    </div>

    <div class="most-outer">
        <div class="outer-outer">
            <div class="outter-Stake">
                <div class="stake-text">Max sidechains</div>
                <div class="display-stake">
                    <div class="arrows p-2 bd-highlight">
                        <div class="up-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="true">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxSidechains" type="hidden" value="@Model.MaxSidechains" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-up fa-3x"></i>
                                </button>
                            </form>
                        </div>
                        <div class="down-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="false">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxSidechains" type="hidden" value="@Model.MaxSidechains" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-down fa-3x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="stake-value">@Model.MaxSidechains</div>
                </div>
                <form asp-controller="Nodes" asp-action="ProducerSetConfigurations">
                    <input asp-for="Account" type="hidden" value="@Model.Account" />
                    <input asp-for="MaxSidechains" type="number" step=any min=0 />
                    <span asp-validation-for="MaxSidechains" class="text-danger"></span>
                    <input type="submit" value="Set" class="btn btn btn-dark" />
                </form>
            </div>
        </div>
    </div>


</div>

<div class="d-flex flex-row bd-highlight mb-2">
    <div class="most-outer">
        <div class="outer-outer">
            <div class="outter-Stake">
                <div class="stake-text">Max BBT per empty block</div>
                <div class="display-stake">
                    <div class="arrows p-2 bd-highlight">
                        <div class="up-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="true">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxBBTPerEmptyBlock" type="hidden" value="@Model.MaxBBTPerEmptyBlock" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-up fa-3x"></i>
                                </button>
                            </form>
                        </div>
                        <div class="down-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="false">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxBBTPerEmptyBlock" type="hidden" value="@Model.MaxBBTPerEmptyBlock" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-down fa-3x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="stake-value">@Model.MaxBBTPerEmptyBlock</div>
                </div>
                <form asp-controller="Nodes" asp-action="ProducerSetConfigurations">
                    <input asp-for="Account" type="hidden" value="@Model.Account" />
                    <input asp-for="MaxBBTPerEmptyBlock" type="number" step=any min=0 />
                    <span asp-validation-for="MaxBBTPerEmptyBlock" class="text-danger"></span>
                    <input type="submit" value="Set" class="btn btn btn-dark" />
                </form>
            </div>
        </div>
    </div>

    <div class="most-outer">
        <div class="outer-outer">
            <div class="outter-Stake">
                <div class="stake-text">Max sidechain growth per month(MB)</div>
                <div class="display-stake">
                    <div class="arrows p-2 bd-highlight">
                        <div class="up-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="true">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxSidechainGrowthPerMonth" type="hidden" value="@Model.MaxSidechainGrowthPerMonth" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-up fa-3x"></i>
                                </button>
                            </form>
                        </div>
                        <div class="down-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="false">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxSidechainGrowthPerMonth" type="hidden" value="@Model.MaxSidechainGrowthPerMonth" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-down fa-3x"></i>
                                </button>
                            </form>
                        </div>
                        <div class="stake-value">@Model.MaxSidechainGrowthPerMonth</div>
                    </div>
                <form asp-controller="Nodes" asp-action="ProducerSetConfigurations">
                    <input asp-for="Account" type="hidden" value="@Model.Account" />
                    <input asp-for="MaxSidechainGrowthPerMonth" type="number" step=any min=0 />
                    <span asp-validation-for="MaxSidechainGrowthPerMonth" class="text-danger"></span>
                    <input type="submit" value="Set" class="btn btn btn-dark" />
                </form>
            </div>
        </div>
    </div>
</div>

<div class="d-flex flex-row bd-highlight mb-2">
    <div class="most-outer">
        <div class="outer-outer">
            <div class="outter-Stake">
                <div class="stake-text">Max stake to monthly income ratio</div>
                <div class="display-stake">
                    <div class="arrows p-2 bd-highlight">
                        <div class="up-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="true">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxStakeToMonthlyIncomeRatio" type="hidden" value="@Model.MaxStakeToMonthlyIncomeRatio" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-up fa-3x"></i>
                                </button>
                            </form>
                        </div>
                        <div class="down-arrow">
                            <form asp-controller="Nodes" asp-action="ProducerSetIncrementDecrementConfiguration" asp-route-isIncrement="false">
                                <input asp-for="Account" type="hidden" value="@Model.Account" />
                                <input asp-for="MaxStakeToMonthlyIncomeRatio" type="hidden" value="@Model.MaxStakeToMonthlyIncomeRatio" />
                                <button class="icon-button" type="submit">
                                    <i class="fas fa-caret-down fa-3x"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <div class="stake-value">@Model.MaxStakeToMonthlyIncomeRatio</div>
                </div>
                <form asp-controller="Nodes" asp-action="ProducerSetConfigurations">
                    <input asp-for="Account" type="hidden" value="@Model.Account" />
                    <input asp-for="MaxStakeToMonthlyIncomeRatio" type="number" step=any min=0 />
                    <span asp-validation-for="MaxStakeToMonthlyIncomeRatio" class="text-danger"></span>
                    <input type="submit" value="Set" class="btn btn btn-dark" />
                </form>
            </div>
        </div>
    </div>
</div>