@using BlockBase.Dapps.CloudManager.WebApp.Models.Nodes;
@model RequesterStakeViewModel

@if (@ViewBag.Error != null)
{
<script>
    $(document).ready(function () {
        $('#errorClaim-modal').modal('show');
    });
</script>}

<div id="add-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" addStake>
                <h5 class="modal-title"> Add Stake</h5>
            </div>
            <div class="add-stake">
                <h6>Amount : </h6>
                <form asp-controller="Nodes" asp-action="RequesteAddStake">
                    <input asp-for="Account" type="hidden" value="@Model.Account" />
                    <input asp-for="Stake" type="number" step=any min=0 class="form-control ml-2" />
                    <h7>Available: @Model.Balance</h7>
                    <span asp-validation-for="Stake" class="text-danger"></span>
                    <div class="form-group form-end sub-button">
                        <input type="submit" value="Submit" class="btn btn btn-dark" />
                        <input type="button" class="btn btn btn-dark" value="Cancel" data-dismiss="modal" aria-label="Close"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="errorClaim-modal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <h5 class="modal-title"> Error</h5>
            </div>
            <div class="modal-body">
                <p>@ViewBag.Error</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary closebtn" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="most-outer">
    <div class="outer-outer">
        <div class="outter-Stake">
            <div class="stake-text">Stake</div>

            <div class="display-stake">
                <img class="" src="~/img/blockbase-token.png" height="64" alt="BlockBase Logo">
                <div class="stake-value"> @Model.Stake</div>
                <div class="stake-underlying"> Staked BBT</div>
            </div>

            <div class="stake-buttons">
                <button class="btn-stake">Stake</button>
                <button class="btn-claim" onclick="window.location.href='/Nodes/RequesterStakeClaim/@Model.Account'">Claim</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('.btn-stake').click(() => {
        $('#add-modal').modal('show')
    });

    $('.closebtn').click(() => { $('#errorClaim-modal').modal('hide'); });

</script>