@using BlockBase.Dapps.CloudManager.WebApp.Models.HtmlComponents
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BlockBase.Dapps.CloudManager.WebApp</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/r-2.2.7/datatables.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>
    <header>
        <!-- Nav Menu begin -->
        <div class="navigation-wrap start-header start-style">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <a class="navbar-brand" title="Home" href="https://blockbase.network/">
                                <img class="" src="~/img/BlockBase_logo.png" height="64" alt="BlockBase Logo">
                            </a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto py-4 py-md-0">
                                    <li class="nav-item item-layout pl-4 pl-md-0 ml-0 ml-md-4">
                                        <a class="nav-link link-layout text-light" id="home" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home"></i> Home</a>
                                    </li>
                                    <li class="nav-item item-layout pl-4 pl-md-0 ml-0 ml-md-4">
                                        <a class="nav-link link-layout text-light" asp-area="" asp-controller="Deployment" asp-action="Index"><i class="fas fa-cloud"></i> Deployment</a>
                                    </li>
                                    <li class="nav-item item-layout pl-4 pl-md-0 ml-0 ml-md-4">
                                        <a class="nav-link link-layout text-light" asp-area="" asp-controller="Nodes" asp-action="Index"><i class="fas fa-laptop"></i> Nodes</a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
        <!-- Nav Menu End -->
        <!-- Errorpopup Menu begin -->
        <div class="modal" id="error-modal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content ">
                    <div class="modal-header bg-danger " >
                        <h5 class="modal-title">Error</h5>
                    </div>
                    <div class="modal-body">
                        <p>@ViewBag.ErrorMsg</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary closebtn" data-bs-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        <!-- Errorpopup Menu end -->
        <!-- Menu Oper Requester -->
        @if (ViewBag.DetailedRequester != null)
        {
            <div class="detailed-requester">
                <nav class="navbar navbar-expand-lg navbar-light bg-light req-nav">
                    <a class="navbar-brand" href="#">@Model.Account</a>
                    @if (@Model is BlockBase.Dapps.CloudManager.WebApp.Models.Nodes.RequesterViewModel)
                    {
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-requesterMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent-requesterMenu">

                            <ul class="navbar-nav mr-auto">
                                @if (Model.InProduction)
                                {
                                    <li>
                                        <a asp-area="" asp-controller="Nodes" asp-action="RequesterPause" asp-route-id=@Model.Account>
                                            <i class="fas fa-pause"></i> Pause
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-area="" asp-controller="Nodes" asp-action="RequesterResume" asp-route-id=@Model.Account>
                                            <i class="fas fa-play text-success"></i> Resume
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="RequesterTerminate" asp-route-id=@Model.Account>
                                        <i class="fas fa-times text-danger">
                                        </i> Terminate<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="RequesterDatabase" asp-route-id=@Model.Account>
                                        <i class="fas fa-database"></i> Database<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="RequesterManageAccess" asp-route-id=@Model.Account>
                                        <i class="fas fa-binoculars"></i> Manage Access<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="RequesterStake" asp-route-id=@Model.Account>
                                        <i class="fas fa-university"></i> Manage Stake<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="RequesterConfigurations" asp-route-id=@Model.Account>
                                        <i class="fas fa-bars"></i> Configurations<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }

                    @if (ViewBag.DetailedRequester is BlockBase.Dapps.CloudManager.DataAccessLayer.DetailedRequesterPOCO)
                    {
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-requesterMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent-requesterMenu">

                            <ul class="navbar-nav mr-auto">
                                @if (ViewBag.DetailedRequester.InProduction)
                                {
                                    <li>
                                        <a asp-area="" asp-controller="Nodes" asp-action="RequesterPause" asp-route-id=@ViewBag.DetailedRequester.Account>
                                            <i class="fas fa-pause"></i> Pause
                                        </a>
                                    </li>
                                }
                                else
                                {
                                    <li>
                                        <a asp-area="" asp-controller="Nodes" asp-action="RequesterResume" asp-route-id=@ViewBag.DetailedRequester.Account>
                                            <i class="fas fa-play text-success"></i> Resume
                                        </a>
                                    </li>
                                }
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="RequesterTerminate" asp-route-id=@ViewBag.DetailedRequester.Account>
                                        <i class="fas fa-times text-danger">
                                        </i> Terminate<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="RequesterDatabase" asp-route-id=@ViewBag.DetailedRequester.Account>
                                        <i class="fas fa-database"></i> Database<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="RequesterManageAccess" asp-route-id=@ViewBag.DetailedRequester.Account>
                                        <i class="fas fa-binoculars"></i> Manage Access<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="RequesterStake" asp-route-id=@ViewBag.DetailedRequester.Account>
                                        <i class="fas fa-university"></i> Manage Stake<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="RequesterConfigurations" asp-route-id=@ViewBag.DetailedRequester.Account>
                                        <i class="fas fa-bars"></i> Configurations<span class="sr-only">(current)</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </nav>
            </div>
        }
        <!-- Menu Oper Provider -->
        @if (ViewBag.DetailedProducer != null)
        {
            <div class="detailed-producer">
                <nav class="navbar navbar-expand-lg navbar-light bg-light req-nav">
                    <a class="navbar-brand" href="#">@Model.Account</a>
                    @if (@Model is BlockBase.Dapps.CloudManager.WebApp.Models.Nodes.ProducerViewModel)
                    {
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-producerMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent-producerMenu">
                            <ul class="navbar-nav mr-auto">
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="ProducerStake" asp-route-id=@Model.Account>
                                        <i class="fas fa-gift"></i> Claim Rewards
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="ProducerSidechains" asp-route-id=@Model.Account>
                                        <i class="far fa-list-alt"></i> Sidechains
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="ProducerWarnings" asp-route-id=@Model.Account>
                                        <i class="fas fa-exclamation"></i> Warnings
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="ProducerDatabase" asp-route-id=@Model.Account>
                                        <i class="fas fa-database"></i> Database
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="ProducerConfigurations" asp-route-id=@Model.Account>
                                        <i class="fas fa-bars"></i> Configurations
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }

                    @if (ViewBag.DetailedProducer is BlockBase.Dapps.CloudManager.Data.DetailedProducerPOCO)
                    {
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-producerMenu" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent-producerMenu">
                            <ul class="navbar-nav mr-auto">
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="ProducerStake" asp-route-id=@ViewBag.DetailedProducer.Account>
                                        <i class="fas fa-gift"></i> Claim Rewards
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="ProducerSidechains" asp-route-id=@ViewBag.DetailedProducer.Account>
                                        <i class="far fa-list-alt"></i> Sidechains
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="ProducerWarnings" asp-route-id=@ViewBag.DetailedProducer.Account>
                                        <i class="fas fa-exclamation"></i> Warnings
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="ProducerDatabase" asp-route-id=@ViewBag.DetailedProducer.Account>
                                        <i class="fas fa-database"></i> Database
                                    </a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Nodes" asp-action="ProducerConfigurations" asp-route-id=@ViewBag.DetailedProducer.Account>
                                        <i class="fas fa-bars"></i> Configurations
                                    </a>
                                </li>
                            </ul>
                        </div>
                    }
                </nav>
            </div>
        }
        <!-- Breadcrumb begin -->
        @if (ViewBag.BreadCrumb != null)
        {
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb bg-transparent">
                    @foreach (var item in (ViewBag.BreadCrumb as BreadcrumbViewModel).elements)
                    {
                        if (item.URL == null)
                        {
                            <li class="breadcrumb-item active" style="bottom:0" aria-current="page">
                                @item.Display
                            </li>
                        }
                        else
                        {
                            <li class="breadcrumb-item">
                                <a href="@item.URL">
                                    @item.Display
                                </a>
                            </li>
                        }
                    }
                    <li class="ml-auto font-weight-bold"><h4>@ViewData["Header"]</h4></li>
                </ol>
            </nav>
        }
        <!-- Breadcrumb end -->

    </header>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://kit.fontawesome.com/1207650100.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.23/b-1.6.5/b-colvis-1.6.5/r-2.2.7/datatables.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script> var error = '@ViewBag.ErrorMsg' </script>
    <script>
        (function ($) {
            "use strict";
            if (error) {
                $('#error-modal').modal('show');
            }
            $('.closebtn').click(() => { $('#error-modal').modal('hide'); });


            $('body').on('mouseenter mouseleave', '.nav-item', function (e) {
                if ($(window).width() > 750) {
                    var _d = $(e.target).closest('.nav-item'); _d.addClass('show');
                    setTimeout(function () {
                        _d[_d.is(':hover') ? 'addClass' : 'removeClass']('show');
                    }, 1);
                }
            });
        })(jQuery);

    $(function () {
        if ((location.pathname.split("/")[1]) !== "") {
            $('nav a[href^="/' + location.pathname.split("/")[1] + '"]').addClass('currentPage').removeClass('text-light');
        }
        else if ((location.pathname.split("/")[1]) == "") {
            var element = document.getElementById("home");
            element.classList.add("currentPage");
            element.classList.remove('text-light')
        }
    });

    </script>




    @RenderSection("Scripts", required: false)

</body>
</html>
